.tg-attr-item-two:hover, .tg-attr-item-one:hover {
    background-color: #ecf9ff !important;
}

.tg-attr-item-active {
    background-color: #c9eaff !important;
}

.tg-edit-fields {

}

.tg-edit-fields label {
    width: 140px;
    line-height: 2;
    text-align: left;
    vertical-align: top;
}

.tg-edit-fields input, .tg-edit-fields select, .tg-edit-fields textarea {
    line-height: 1.2;
    text-align: right;
    height: 32px;
    width: 290px;
    min-height: 32px;
    min-width: 290px;
    max-width: 680px;
    max-height: 480px;
}

.tg-edit-fields textarea {
    text-align: initial;
}

.tg-edit-control {
    margin-top: -34px;
    padding-bottom: 70px;
    line-height: 2;
}

.tg-edit-control button{
    margin-left: 15px;
}

.tg-attr-tools {
    width: 100%;
    text-align: center;
    color: #0b58a2;
    cursor: pointer;
}